/* globales */
html{
    font-size: 62.5%; 
    box-sizing: border-box;
}

*,*:before,*after{
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 10px=1rem */
    font-family: 'Roboto', sans-serif;
}


body{     
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;

    
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.principal{
    display: flex;
    align-items: center;
    color: var(--cprimario);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0px 2px 44px 10px #3E6B70;
}
    
.bicho{
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
.form{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 518px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    max-width: 0 4rem 0 4rem;
    box-sizing: border-box;
    padding: 0 2rem 0 2rem;
    
}
.form_addShow{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 550px;
    border-radius: 16px;
    max-width: 0 4rem 0 4rem;
    box-sizing: border-box;
    padding: 0 2rem 0 2rem;
    
}
.form_show{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 600px;
    border-radius: 16px;
    max-width: 0 4rem 0 4rem;
    box-sizing: border-box;
    padding: 0 2rem 0 2rem;
    
}
    
.form__fieldset{
    border: none;    
}
.form__div_regresar{
    border: 0;
    padding-right: 0;  
    margin-right: 0;  
    right: 0;
    display: inline-block;
    vertical-align: top;
}
.form__div_editar{  
    width: 200px;   
    padding-left: 50px;
    display: inline-block;
    vertical-align: top;
}
.form__legend{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 0.2rem;
    
    font-size: 2.5rem;
    font-weight: bold;
    color: #b9b9b9;
    border-bottom:1px solid #b9b9b9;
    width: 100%;

}
.h3{
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    color: #b9b9b9;
    width: 100%;

}
.regis{
    text-align: center;
    padding-bottom: 0.2rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    font-weight: bold;
    color: #3E6B70;    
    width: 100%;
    text-decoration: none;

}

.campo{
    margin-top:  30px;
    position: relative;
    margin-bottom: 3rem;
    padding: 0 2rem 0 2rem;
    border-bottom: 1px solid #b9b9b9;

}

.campo_correo{
    position: relative;
    margin-bottom: 3rem;
    margin-top: 8rem;
    padding: 0 2rem 0 2rem;
    border-bottom: 1px solid #b9b9b9;

}

.campo__input{
    width: 98%;
    height: 30px;
    border: none;
    outline: none;  

}

.campo__text_activo{
    bottom: 32px;
    padding-left: 3px;
    position: absolute;
    display: block;
    color: #b9b9b9;
    pointer-events: none;
    transition: .5s;
}
.campo__text{
    top: 19%;
    padding-left: 3px;
    position: absolute;
    display: block;
    color: #b9b9b9;
    pointer-events: none;
    transition: .5s;

}

.campo__text_addPartido{
    bottom: 23px;
    padding-left: 3px;
    position: absolute;
    display: block;
    color: #b9b9b9;
    pointer-events: none;
    transition: .5s;

}
.campo__text_addPartido_fecha{
    bottom: 28px;
    padding-left: 3px;
    position: absolute;
    display: block;
    color: #b9b9b9;
    pointer-events: none;
    transition: .5s;

}
.campo span::before{
    content: '';
    position: absolute;
    top: 32px;
    right: 0px;
    width: 0%;
    height: 2px;
    background: rgba(18, 103, 160, 0.589);
    transition: .5s;
}

.campo input:focus ~ label,
.campo input:valid ~ label{
    top: -11px;
    font-size: 1.5rem;
    color: rgba(18, 103, 160, 0.589);
}
.campo input:focus ~ span::before,
.campo input:valid ~ span::before{
    width: 100%;

} 


.campoBoton{
    margin-top: 6rem;
    padding: 0 22%;
    border-radius: 30%;

}
.campoBoton_regresar{
    padding-right: 0;
    margin-right: 0;
    border-radius: 30%;
    display: inline-block;
    vertical-align: top;

}
.campoBoton_editar{
    border-radius: 30%;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
    

}

.boton{
    border: 1px solid  #3E6B70;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .8rem;
    width: 100%;    
    background-color: #3E6B70;
    transition: .2s;
}
.boton-mensaje{
    color: white;
}
.boton:hover{
    border:none;
    font-size: 1.5rem;
    padding: 1.1rem 0;
}
/**/
.boton_regresar{
    border: 1px solid  #3E6B70;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .8rem;
    width: 30px;   
    background-color: #3E6B70;
    transition: .2s;
}
.boton-mensaje-regresar{
    color: white;
}
.boton_regresar:hover{
    border:none;
    font-size: 1.5rem;
    padding: 1.1rem 0;
}
/**/
.boton_editar{
    border: 1px solid  #3E6B70;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .8rem;
    width: 200px;
    
    background-color: #3E6B70;
    transition: .2s;
}
.boton-mensaje-editar{
    color: white;
}
.boton_editar:hover{
    border:none;
    font-size: 1.5rem;
    padding: 1.1rem 0;
}

.imagen{
    transition: .2s;
}
.imagen:hover{
    transform: translateY(5px);
}