<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="principal">           
            <div>
                <form action="" class="form_show">
                    <fieldset class="form__fieldset">
                        <legend class="form__legend">Editar Partidos</legend>
                        <div class="campos">
                            <div class="campo">
                                <input class="campo__input" type="text" required value="Davids">
                                <span></span>
                                <label class="campo__text">Usuario</label>
                            </div>
                            <div class="campo">
                                <input class="campo__input" type="text" required value="Tolima">
                                <span></span>
                                <label class="campo__text">Local</label>
                            </div>
                            <div class="campo">
                                <input class="campo__input" type="text" required value="Millonarios"> 
                                <span></span>
                                <label class="campo__text">Visitante</label>
                            </div>
                            <div class="campo">
                                <input class="campo__input" type="text" required value="03/07/2021">   
                                <span></span>
                                <label class="campo__text">Fecha</label>
                            </div>
                            <div class="campo">
                                <input class="campo__input" type="text" required value="0">   
                                <span></span>
                                <label class="campo__text">Goles Local</label>
                            </div>
                            <div class="campo">
                                <input class="campo__input" type="text" required value="1">    
                                <span></span>
                                <label class="campo__text">Goles Visitante</label>
                            </div>                          
                        </div>
                    <div class="form__div_regresar" width="30px">
                        <div class="campoBoton_regresar">
                            <a href="show.html">
                            <button class="boton_regresar" type="submit" value=""> 
                                <label class="boton-mensaje-regresar"for=""><</label>
                            </button>     
                        </a>                       
                        </div>
                    </div>
                    <div class="form__div_editar">
                        <div class="campoBoton_editar">
                            <a href="index.html">
                            <button class="boton_editar" type="submit" value=""> 
                                <label class="boton-mensaje-editar"for="">Guardar</label>
                            </button>     
                        </a>                       
                        </div>
                    </div>
                    </fieldset>
                </form>
                
            </div>
           
        </div> 
    </div>   
</body>
</html>