<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inicio</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="principal">
			<div class="form">
				<h2 class="h2">Registrar Partidos</h2>
				<div class="div_boton">
					<a th:href="@{/newPartido}" class="btn btn-primary">
						<button class="boton_add">+</button>
					</a>

				</div>
				<table class="tabla">
					<thead class="thead">
						<tr>
							<td class="td_head">
								<h3 class="h3">USUARIO</h3>
							</td>
							<td class="td_head">
								<h3 class="h3">EQUIPO LOCAL</h3>
							</td>
							<td class="td_head">
								<h3 class="h3">EQUIPO VISITANTE</h3>
							</td>
							<td class="td_head">
								<h3 class="h3">FECHA</h3>
							</td>
							<td class="td_head">
								<h3 class="h3">RESULTADO</h3>
							</td>
							<td class="td_head">
								<h3 class="h3">OPCIONES</h3>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr class="tr_body" th:each="partido:${partidos}">
							<td class="td">
								<h3 class="td_body" th:text="${partido.usuario.nombre}"></h3>
							</td>
							<td class="td">
								<h3 class="td_body" th:text="${partido.local.nombre}"></h3>
							</td>
							<td class="td">
								<h3 class="td_body" th:text="${partido.visitante.nombre}"></h3>
							</td>
							<td class="td">
								<h3 class="td_body" th:text="${partido.fecha}"></h3>
							</td>
							<td class="td">
								<h3 class="td_body"
									th:text="${partido.goles_local + ' - ' + partido.goles_visitante}"></h3>
							</td>
							<td class="td"><a th:href="@{/editarPartido/}+${partido.id}">
									<button class="boton_tabla" value="Editar"> Editar </button>
							</a></td>
						</tr>
					</tbody>
				</table>
				<div class="div_pag">
					<div class="pagination">
						<a href="#">&laquo;</a> <a href="#">1</a> <a href="#">2</a> <a
							href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
						<a href="#">&raquo;</a>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>