<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" type="text/css" href="static/css/styles.css" th:href="@{/css/styles.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="principal">
			<img class="bicho" src="img/laPulga.jpg" alt="elbicho" width="400"
				height="518">
			<div>
				<form class="form" th:action="@{/save}" th:object=${usuario}
					method="POST">
					<fieldset class="form__fieldset">
						<legend class="form__legend">Registrar Usuario</legend>
						<div class="campos">
							<div class="campo">
								<input th:fiel="*{nombre}" id="nombre" name="nombre" class="campo__input" type="text"
									required> <span></span> <label class="campo__text">Nombre</label>
							</div>
							<div class="campo">
								<input th:fiel="*{correo}" id="correo" name="correo"  class="campo__input" type="text"
									required> <span></span> <label class="campo__text">Correo</label>
							</div>
							<div class="campo">
								<input th:fiel="*{username}" id="username" name="username"  class="campo__input" type="text"
									required> <span></span> <label class="campo__text">Nombre
									Usuario</label>
							</div>
							<div class="campo">
								<input th:fiel="*{password}" id="password" name="password"  class="campo__input submit"
									type="password" required> <span></span> <label
									class="campo__text">Contrase&#241;a</label>
							</div>
						</div>
						<div class="campoBoton">
							<input class="boton" type="submit" value="Registrar">
						</div>
					</fieldset>
				</form>

			</div>

		</div>
	</div>
</body>
</html>